@import "../../styles/colors.scss";

.container{
    display: flex;
    width: 100vw;
    height: 90px;
    background-color: $gray-800;
    border-bottom: 1px solid $gray-700;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    &__nav__left{
        flex:1;
        justify-content: flex-start;
        align-items: center;
        display: flex;
    }

    &__nav_right{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        flex:1;
        max-width: 30vw;
    }
}